PORT=3000
PUBLIC_BASE_URL=http://185.192.20.245:3000

JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_MUY_LARGA
PLAYBACK_SECRET=CAMBIA_ESTA_OTRA_CLAVE_POR_UNA_MUY_LARGA

MASTER_USERNAME=admin
MASTER_PASSWORD=admin123

# proxy = oculta las URLs originales (consume ancho de banda del VPS)
# redirect = menos carga en el VPS
PLAYBACK_MODE=proxy
